@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.active {
  color: rgb(220,38,37);
}

.logo{
  color: rgb(56, 56, 56) !important;
}

code {
  font-family: 'Poppins', sans-serif;
}
